.container{
    background-color: rgb(0, 176, 176);
    color: white;
    min-height: 20vh;
}

.section-title{
    display: flex;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body{
    background-color: lightskyblue;
}

h1{
    padding-top: 1em;
}

.text-content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1em;
    font-size: 20px;
}

.resume-button{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
    color: white;
    font-size: 20px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list h2{
    display: flex;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.list li{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    padding-bottom: 0.5em;
    padding-left: 10%;
    padding-right: 10%;
}

.list img{
    display: flex;
    justify-content: center;
}

.container hr{
    display: flex;
}

.project-image{
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100%;
    max-height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.project1-image{
    width: 960px auto; 
    height: 450.5px auto;
}